{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>{% block title %} Crear Partida {% endblock title %}</title>

<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<link rel="stylesheet" href="{% static 'css/create.css' %}">

</head>
<body>
    <form method="post">
        {% csrf_token %}
        {% if error %}
            <h2 style="color: red;"> {{ error }}</h2>
        {% else %}
            <div class="modal-header">						
                <h4 class="modal-title">Añadir partida</h4>
            </div>
            <div class="modal-body">					
                <div class="form-group">
                    {{ partida_form.dia.label }}
                    {{ partida_form.dia }}
                </div>
                <div class="form-group">
                    {{ partida_form.hora_inic.label }}
                    {{ partida_form.hora_inic }}
                </div>
                <div class="form-group">
                    {{ partida_form.hora_fin.label }}
                    {{ partida_form.hora_fin }}
                </div>
                <div class="form-group">
                    {{ partida_form.temporada.label }}
                    {{ partida_form.temporada }}
                </div>
            </div>
            <div class="modal-footer">
                <input type="submit" class="btn btn-success" value="Add">
            </div>
        {% endif %}
    </form>
</body>
</html>